button.focused {
  outline: 1px dotted black;
  outline-offset: -4px;
}

button.active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}
