body {
  background-color: #c0c0c0;
}

/* Mobile */
@media (max-width: 600px) {
  .wrapper {
    padding: 0;
  }

  .desktop-sidebar,
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .mobile-sidebar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .start-menu {
    max-width: 50%;
    background-color: #c0c0c0;
    border-top: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
  }

  .start-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .task-bar {
    background-color: #c0c0c0;
    padding: 4px;
    border-top: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .start-icon {
    height: 15px;
    width: auto;
  }
  button.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    min-width: 40px;
  }

  .content {
    max-width: 100%;
  }

  .root {
    padding: 0 1rem;
  }
}

/* Desktop */
@media (min-width: 601px) {
  .mobile-sidebar,
  .mobile-nav {
    display: none;
  }

  .content {
    max-width: 900px;
  }

  .wrapper {
    padding-right: 20px;
  }

  .root {
    margin-left: 20px;
  }

  .desktop-sidebar {
    display: block;
    width: 200px;
    position: sticky;
    top: 1rem;
    align-self: flex-start;
    background-color: white;
    padding: 8px;
    height: calc(100vh - 3rem);
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a,
      inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  }
}

.wrapper h1 {
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 3rem;
}

.title .subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.content {
  max-width: 900px;
}

.full-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}
